{% extends 'base.html' %}
{% block title %} Фотогалерея {% endblock %}

{% block body %}

<section class="have">
        <article class="news__title">Фотогалерея</article>
        <article class="have__blocks">
                <img style="background: url(media/main/images/main.jpg) center / cover no-repeat" alt="" class="have__img have__img1">
                <img style="background: url(media/main/images/main.jpg) center / cover no-repeat" alt="" class="have__img have__img2">
                <img style="background: url(media/main/images/main.jpg) center / cover no-repeat" alt="" class="have__img have__img2">
                <img style="background: url(media/main/images/main.jpg) center / cover no-repeat" alt="" class="have__img have__img1">

        </article>
    </section>

{% endblock %}